.transform,
.platonic-viewport .scene .mesh,
.platonic-viewport .scene .group,
.platonic-viewport .scene .ui-component {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.platonic-viewport {
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50%;
  background-color: #575757;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #575757), color-stop(1, #272727));
  background: -webkit-linear-gradient(top, #575757 0%, #272727 100%);
  background: linear-gradient(top, #575757 0%, #272727 100%);
  overflow: hidden;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 600px;
}
.platonic-viewport .scene {
  width: 100%;
}
.platonic-viewport .scene .mesh .face {
  -webkit-backface-visibility: visible;
  position: absolute;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] {
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] .face[data-face-id="0"] {
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: rotateX(90deg) translateZ(25px);
  margin-top: -25px;
  margin-left: -25px;
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] .face[data-face-id="1"] {
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: translateZ(-25px);
  margin-top: -25px;
  margin-left: -25px;
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] .face[data-face-id="2"] {
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: rotateX(-90deg) translateZ(25px);
  margin-top: -25px;
  margin-left: -25px;
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] .face[data-face-id="3"] {
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: translateZ(25px);
  margin-top: -25px;
  margin-left: -25px;
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] .face[data-face-id="4"] {
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: rotateY(90deg) translateZ(-25px);
  margin-top: -25px;
  margin-left: -25px;
}
.platonic-viewport .scene .mesh.cube[data-mesh-id="0"] .face[data-face-id="5"] {
  margin-top: -25px;
  margin-left: -25px;
  -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  background-color: #fff;
  width: 50px;
  height: 50px;
  -webkit-transform: rotateY(90deg) translateZ(25px);
  margin-top: -25px;
  margin-left: -25px;
}
