!!! 5
html(lang="en")

    head

        title Platonic project

        block css

    body

        .platonic-viewport

            .scene

                block scene


        block js

            script(src="js/lib/stats.min.js")
            script(src="js/lib/photon.js")
            script(src="js/lib/dat.gui.min.js")
            script(src="js/lib/rAF.js")
            script(src="js/scene.js")

