extends includes/layout
include mixins/ui_components
include mixins/geometry

block css

    link(rel="stylesheet", href="css/scene.css")

block scene

    mixin display-axis(0)
    mixin cube(0, 1)

    
    