extends includes/layout
include mixins/ui_components
include mixins/geometry

block css

    link(rel="stylesheet", href="css/scene.css")

block scene

    mixin grid(0, 0, 1)
    mixin display-axis(1, 0, 1)
    mixin cube(0, 1, 1)

    
    